{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://localhost",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 10000,
      "animate": true,
      "afterUpload": true
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": true,
      "pollingInterval": 10000,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/php/article_php",
          "/php/pdo.php",
          "/package-lock.json",
          "/package.json",
          "/php/common/pdo.php"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": false,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "index.php",
          "mtimeMs": 1680370376887.3223,
          "date": "2023-04-01T17:33:02.215Z"
        },
        {
          "file": "php\\profile\\高橋澄真.php",
          "mtimeMs": 1678611083270.3525,
          "date": "2023-04-01T14:07:15.584Z"
        },
        {
          "file": "img\\writer_img\\高橋綱弥.PNG",
          "mtimeMs": 1679588948961.0745,
          "date": "2023-04-01T14:07:14.925Z"
        },
        {
          "file": "php\\profile\\高橋綱弥.php",
          "mtimeMs": 1679591405046.254,
          "date": "2023-04-01T14:07:15.900Z"
        },
        {
          "file": "css/admin.css",
          "mtimeMs": 1680378155675.837,
          "date": "2023-04-01T19:42:40.385Z"
        },
        {
          "file": "css/core.css",
          "mtimeMs": 1705906088275.062,
          "date": "2024-01-22T06:48:16.113Z"
        },
        {
          "file": "img/site_img/favicon1.ico",
          "mtimeMs": 1677890091948.3467,
          "date": "2023-04-01T14:07:12.837Z"
        },
        {
          "file": "img/site_img/totomedia.jpg",
          "mtimeMs": 1677875554969.4678,
          "date": "2023-04-01T14:07:13.399Z"
        },
        {
          "file": "img/site_img/transparent.png",
          "mtimeMs": 1677875390718.784,
          "date": "2023-04-01T14:07:13.865Z"
        },
        {
          "file": "img/writer_img/default.jpg",
          "mtimeMs": 1679651888622.9575,
          "date": "2023-04-01T14:07:14.308Z"
        },
        {
          "file": "js/main.js",
          "mtimeMs": 1680402863690.4548,
          "date": "2023-04-02T02:34:27.140Z"
        },
        {
          "file": "php/admin/admin_analytics_controller.php",
          "mtimeMs": 1680369695962.9756,
          "date": "2023-04-01T17:21:41.278Z"
        },
        {
          "file": "php/admin/admin_article_controller.php",
          "mtimeMs": 1705909975159.5183,
          "date": "2024-01-22T07:53:05.531Z"
        },
        {
          "file": "php/admin/admin_article_create.php",
          "mtimeMs": 1705906279407.507,
          "date": "2024-01-22T06:51:27.702Z"
        },
        {
          "file": "php/admin/admin_article_delete.php",
          "mtimeMs": 1680398005814.299,
          "date": "2023-04-02T01:13:31.536Z"
        },
        {
          "file": "php/admin/admin_article_update.php",
          "mtimeMs": 1705913238804.285,
          "date": "2024-01-22T08:47:29.372Z"
        },
        {
          "file": "php/admin/admin_category_controller.php",
          "mtimeMs": 1680431630342.8203,
          "date": "2023-04-02T10:33:56.000Z"
        },
        {
          "file": "php/admin/admin_chat_controller.php",
          "mtimeMs": 1680370577198.816,
          "date": "2023-04-01T17:36:22.534Z"
        },
        {
          "file": "php/admin/admin_comment_controller.php",
          "mtimeMs": 1680369986264.3877,
          "date": "2023-04-01T17:26:31.665Z"
        },
        {
          "file": "php/admin/admin_controller.php",
          "mtimeMs": 1705913759311.8123,
          "date": "2024-01-22T08:56:09.674Z"
        },
        {
          "file": "php/admin/admin_document_controller.php",
          "mtimeMs": 1680370076409.145,
          "date": "2023-04-01T17:28:01.832Z"
        },
        {
          "file": "php/admin/admin_facade_controller.php",
          "mtimeMs": 1680370091406.7493,
          "date": "2023-04-01T17:28:16.777Z"
        },
        {
          "file": "php/admin/admin_tag_controller.php",
          "mtimeMs": 1680431765449.1353,
          "date": "2023-04-02T10:36:11.276Z"
        },
        {
          "file": "php/admin/admin_writer_controller.php",
          "mtimeMs": 1680372450095.448,
          "date": "2023-04-01T18:07:35.407Z"
        },
        {
          "file": "php/auth/login.php",
          "mtimeMs": 1680378520806.504,
          "date": "2023-04-01T19:48:45.941Z"
        },
        {
          "file": "php/auth/logout.php",
          "mtimeMs": 1680370156499.398,
          "date": "2023-04-01T17:29:21.905Z"
        },
        {
          "file": "php/auth/profile-setting-complete.php",
          "mtimeMs": 1680370176471.8801,
          "date": "2023-04-01T17:29:42.085Z"
        },
        {
          "file": "php/auth/profile-setting.php",
          "mtimeMs": 1680370607274.267,
          "date": "2023-04-01T17:36:52.638Z"
        },
        {
          "file": "php/common/article_base.php",
          "mtimeMs": 1705907563200.2239,
          "date": "2024-01-22T07:12:53.231Z"
        },
        {
          "file": "php/common/article_comment.php",
          "mtimeMs": 1679690256184.7434,
          "date": "2023-04-01T14:07:25.580Z"
        },
        {
          "file": "php/common/article_text.php",
          "mtimeMs": 1705907834811.3384,
          "date": "2024-01-22T07:17:23.486Z"
        },
        {
          "file": "php/common/pdo.php",
          "mtimeMs": 1680362703192.9775,
          "date": "2023-04-01T15:25:08.248Z"
        },
        {
          "file": "php/layout/aside.php",
          "mtimeMs": 1680370256721.8596,
          "date": "2023-04-01T17:31:02.077Z"
        },
        {
          "file": "php/layout/breadcrumbs.php",
          "mtimeMs": 1680259752226.5676,
          "date": "2023-04-01T14:07:29.050Z"
        },
        {
          "file": "php/layout/footer.php",
          "mtimeMs": 1680335262467.2937,
          "date": "2023-04-01T14:07:29.434Z"
        },
        {
          "file": "php/layout/head.php",
          "mtimeMs": 1680345218995.032,
          "date": "2023-04-01T14:07:29.901Z"
        },
        {
          "file": "php/layout/main.php",
          "mtimeMs": 1680259797351.6858,
          "date": "2023-04-01T14:07:31.728Z"
        },
        {
          "file": "php/layout/new_articles.php",
          "mtimeMs": 1705907272531.9722,
          "date": "2024-01-22T07:08:02.916Z"
        },
        {
          "file": "php/layout/recommend_articles.php",
          "mtimeMs": 1680370456933.6006,
          "date": "2023-04-01T17:34:22.359Z"
        },
        {
          "file": "php/object/_admin_menu.php",
          "mtimeMs": 1680345118757.2612,
          "date": "2023-04-01T14:07:33.516Z"
        },
        {
          "file": "php/object/_code-block.php",
          "mtimeMs": 1679641504567.8806,
          "date": "2023-04-01T14:07:33.949Z"
        },
        {
          "file": "php/object/_contact.php",
          "mtimeMs": 1679582778700.3826,
          "date": "2023-04-01T14:07:34.427Z"
        },
        {
          "file": "php/object/_privacy-policy.php",
          "mtimeMs": 1679582703478.7446,
          "date": "2023-04-01T14:07:34.888Z"
        },
        {
          "file": "php/object/_profile.php",
          "mtimeMs": 1680358500406.4912,
          "date": "2023-04-01T14:15:04.613Z"
        },
        {
          "file": "php/object/_profile_box.php",
          "mtimeMs": 1679646600080.0032,
          "date": "2023-04-01T14:07:36.129Z"
        },
        {
          "file": "php/object/_sitemap.php",
          "mtimeMs": 1679582883783.9448,
          "date": "2023-04-01T14:07:36.641Z"
        },
        {
          "file": "php/other/contact.php",
          "mtimeMs": 1680358688106.9417,
          "date": "2023-04-01T14:18:09.870Z"
        },
        {
          "file": "php/other/privacy-policy.php",
          "mtimeMs": 1680358592295.427,
          "date": "2023-04-01T14:16:34.717Z"
        },
        {
          "file": "php/other/profile.php",
          "mtimeMs": 1680358382190.2144,
          "date": "2023-04-01T14:13:04.395Z"
        },
        {
          "file": "php/other/sitemap.php",
          "mtimeMs": 1680358633090.4895,
          "date": "2023-04-01T14:17:14.721Z"
        },
        {
          "file": "php/process/admin_article_create_process.php",
          "mtimeMs": 1705906380770.549,
          "date": "2024-01-22T06:53:03.841Z"
        },
        {
          "file": "php/process/admin_article_delete_process.php",
          "mtimeMs": 1679177219873.3557,
          "date": "2023-04-01T14:07:40.708Z"
        },
        {
          "file": "php/process/admin_article_update_process.php",
          "mtimeMs": 1705913396731.853,
          "date": "2024-01-22T08:49:59.396Z"
        },
        {
          "file": "php/process/admin_category_create_process.php",
          "mtimeMs": 1679164515372.29,
          "date": "2023-04-01T14:07:42.241Z"
        },
        {
          "file": "php/process/admin_category_delete_process.php",
          "mtimeMs": 1680403454026.5422,
          "date": "2023-04-02T02:44:17.944Z"
        },
        {
          "file": "php/process/admin_tag_create_process.php",
          "mtimeMs": 1679164689068.636,
          "date": "2023-04-01T14:07:43.877Z"
        },
        {
          "file": "php/process/admin_tag_delete_process.php",
          "mtimeMs": 1679164602686.3884,
          "date": "2023-04-01T14:07:44.464Z"
        },
        {
          "file": "php/process/admin_writer_create_process.php",
          "mtimeMs": 1679164539498.9966,
          "date": "2023-04-01T14:07:46.334Z"
        },
        {
          "file": "php/process/admin_writer_delete_process.php",
          "mtimeMs": 1679163412628.3428,
          "date": "2023-04-01T14:07:47.171Z"
        },
        {
          "file": "php/process/comment_process.php",
          "mtimeMs": 1679690136308.2517,
          "date": "2023-04-01T14:07:48.038Z"
        },
        {
          "file": "php/process/login_process.php",
          "mtimeMs": 1680342922739.9275,
          "date": "2023-04-01T14:07:54.504Z"
        },
        {
          "file": "php/process/setting/nav_item.php",
          "mtimeMs": 1677551318514.3545,
          "date": "2023-04-01T14:07:54.873Z"
        },
        {
          "file": "php/process/setting/nav_item_process.php",
          "mtimeMs": 1677348728376.6667,
          "date": "2023-04-01T14:07:55.219Z"
        },
        {
          "file": "php/common/article_query.php",
          "mtimeMs": 1679690384503.7004,
          "date": "2023-04-01T14:07:53.874Z"
        },
        {
          "file": "php/layout/header.php",
          "mtimeMs": 1705903052011.2332,
          "date": "2024-01-22T05:57:40.128Z"
        },
        {
          "file": "img/article_thumb_img/7b26081a368a47189c54333b2f461253.jpg",
          "mtimeMs": 1705901849369.9302,
          "date": "2024-01-22T05:37:36.478Z"
        },
        {
          "file": "css/component/__article-box.css",
          "mtimeMs": 1705906079949.0847,
          "date": "2024-01-22T06:48:07.623Z"
        },
        {
          "file": "php/article/javaとjavascriptの違いについて解説.php",
          "mtimeMs": 1705913591075.5083,
          "date": "2024-01-22T08:53:19.468Z"
        },
        {
          "file": "php/article/ｄｗｄｗｄｗｄ.php",
          "mtimeMs": 1705908639530.2175,
          "date": "2024-01-22T07:30:44.284Z"
        },
        {
          "file": "php/article/ｇｇｇｇｇ.php",
          "mtimeMs": 1705908944856.0754,
          "date": "2024-01-22T07:35:54.575Z"
        },
        {
          "file": "img/article_thumb_img/qJmNAyileJ40rTlbdNoX7f10qqPATU9kdflGa78T8CKwlB5gs5VvKcao8X06zeoV.jpg",
          "mtimeMs": 1705909747519.3987,
          "date": "2024-01-22T07:49:17.680Z"
        },
        {
          "file": "img/article_thumb_img/1e09c5ca5d804d1b832acf98eec329df.jpg",
          "mtimeMs": 1705910026850.6028,
          "date": "2024-01-22T07:53:56.852Z"
        },
        {
          "file": "php/article/んｇｆｆｗ３ｆｗｆｗ.php",
          "mtimeMs": 1705913536590.477,
          "date": "2024-01-22T08:52:19.484Z"
        },
        {
          "file": "php/article/vｇｎ.php",
          "mtimeMs": 1705913565648.7417,
          "date": "2024-01-22T08:52:49.995Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".php",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "php"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "pug/admin.pug",
        "config": {
          "customOutput": "admin.php"
        }
      },
      {
        "file": "pug/admin/admin.pug",
        "config": {
          "customOutput": "php\\admin\\admin.php"
        }
      },
      {
        "file": "pug/admin/admin_post_tag.pug",
        "config": {
          "customOutput": "php\\admin\\admin_post_tag.php"
        }
      },
      {
        "file": "pug/admin_delete.pug",
        "config": {
          "customOutput": "php\\admin_delete.php"
        }
      },
      {
        "file": "pug/admin_post.pug",
        "config": {
          "customOutput": "php\\admin_post.php"
        }
      },
      {
        "file": "pug/admin_update.pug",
        "config": {
          "customOutput": "php\\admin_update.php"
        }
      },
      {
        "file": "pug/footer.pug",
        "config": {
          "customOutput": "php\\layout\\footer.php"
        }
      },
      {
        "file": "pug/head.pug",
        "config": {
          "customOutput": "php\\layout\\head.php"
        }
      },
      {
        "file": "pug/header.pug",
        "config": {
          "customOutput": "php\\layout\\header.php"
        }
      },
      {
        "file": "pug/index.pug",
        "config": {
          "customOutput": "index.php"
        }
      },
      {
        "file": "pug/layout/index.pug",
        "config": {
          "customOutput": "index.php"
        }
      },
      {
        "file": "pug/main.pug",
        "config": {
          "customOutput": "php\\layout\\main.php"
        }
      },
      {
        "file": "pug/object/_admin_menu.pug",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "pug/object/_contact.pug",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "pug/object/_privacy-policy.pug",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "pug/object/_sitemap.pug",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "pug\\article_pug\\「仕事でミスをしない人」と「ミスする人」の習慣.pug",
        "config": {
          "customOutput": "php\\article_php\\「仕事でミスをしない人」と「ミスする人」の習慣.php"
        }
      },
      {
        "file": "pug\\article_pug\\「空腹」こそ最強のクスリ.pug",
        "config": {
          "customOutput": "php\\article_php\\「空腹」こそ最強のクスリ.php"
        }
      },
      {
        "file": "pug\\article_pug\\なぜかうまくいく人の気遣い100の習慣.pug",
        "config": {
          "customOutput": "php\\article_php\\なぜかうまくいく人の気遣い100の習慣.php"
        }
      },
      {
        "file": "pug\\article_pug\\コーヒーのメリット・デメリットまとめ.pug",
        "config": {
          "customOutput": "php\\article_php\\コーヒーのメリット・デメリットまとめ.php"
        }
      },
      {
        "file": "pug\\article_pug\\話し方で「成功する人」と「失敗する人」の習慣.pug",
        "config": {
          "customOutput": "php\\article_php\\話し方で「成功する人」と「失敗する人」の習慣.php"
        }
      },
      {
        "file": "stylus/admin.styl",
        "config": {
          "sourceMap": false,
          "customOutput": "css\\admin.css"
        }
      },
      {
        "file": "stylus/component/__article-box.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/__recommend.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/_article.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/_aside.styl",
        "config": {
          "sourceMap": false,
          "customOutput": "css\\component\\_aside.css"
        }
      },
      {
        "file": "stylus/component/_common.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/_footer.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/_header.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/_main.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/_parts.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/component/article.styl",
        "config": {
          "customOutput": "css\\dummy.css"
        }
      },
      {
        "file": "stylus/component/aside.styl",
        "config": {
          "sourceMap": false,
          "customOutput": "css\\dummy.css"
        }
      },
      {
        "file": "stylus/component/footer.styl",
        "config": {
          "customOutput": "css\\dummy.css"
        }
      },
      {
        "file": "stylus/core.styl",
        "config": {
          "sourceMap": false
        }
      },
      {
        "file": "stylus/main.styl",
        "config": {
          "customOutput": "css\\main.css"
        }
      }
    ]
  }
}
