footer
  ul  
    li: a(href="/php/other/sitemap.php") サイトマップ
    li: a(href="/php/other/privacy-policy.php") プライバシーポリシー
    li: a(href="/php/other/contact.php") お問い合わせ
  p.copyright &copy; 2023 totomedia