<?php include($_SERVER['DOCUMENT_ROOT'].'/php/common/pdo.php'); ?>
doctype
html(lang="ja")
  <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/head.php'); ?>
  body.aurora
    <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/header.php'); ?>
    <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/main.php'); ?>
    <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/footer.php'); ?>
    script(type="text/javascript" src!="<?= '/js/main.js'; ?>")