main.main
  section.top
    <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/breadcrumbs.php'); ?>
    <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/recommend_articles.php'); ?>
    <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/new_articles.php'); ?>
  <?php include($_SERVER['DOCUMENT_ROOT'].'/php/layout/aside.php'); ?>