footer
  position sticky
  top 100vh
  padding 10px
  background var(--gradient-color1)
  color white
  ul 
    display flex
    justify-content space-around
    width 50%
    margin 0 auto
    li 
      a 
        color white
  .copyright
    text-align center
    font-size 0.7rem