.headline
  display block
  margin 0 40px 0
  padding 5px
  border-left 20px double white
  border-right 20px double white
  border-radius 3px
  box-shadow: -2px 1px 7px #42424254;
  background linear-gradient( 45deg , #bdb9ff, #67b8ff)
  color white
  text-align center
  font-weight bold
  font-size 1.1rem
.h-plus
  width 100%
  margin 0 auto
  padding 3px
  background linear-gradient(45deg,#ffdc54,#f7af0e)
  font-size 1.2rem
  -webkit-text-stroke: 0.3px #999
